################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/API_Projet/FileContentIndex/2851c7af-4b6b-4995-8de2-48e1e72b363b.vsidx
